/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/07/2017, 19:35:58
    Author     : Eberick
*/

.container {
    margin: 2em 1em ;
    width: 960px;
    border-color: black;
    border-style: double;
    color:red;
}
       

body {
background: #87CEFA /*url(images/noise.png)*/;
font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
line-height: 1.6;
}

.place h2 {
    border-color: #CCC #999 #CCC;
    border: 1px solid #CCC;
    margin-bottom: 20px;
    /*border-bottom: 1px dashed #7E9F19;  /*dashed = Linha Pontilhada  solid = Linha Solida*/
    padding: 10px;
    
}